.git
.github
.dockerignore
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.vscode
.env*
build
config_*.xml
dist
docker
node_modules
scripts
vendor
work
_dev/node_modules
views/css/_dev
views/images/*
!views/images/favicon.ico
**/.DS_Store
